<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>224501809544-58oeu0hvkhrf53iap2upbu46g1miiftq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.224501809544-58oeu0hvkhrf53iap2upbu46g1miiftq</string>
	<key>API_KEY</key>
	<string>AIzaSyAGDzGxR2jNIWzM-rv0WBWoacKXZdfWClc</string>
	<key>GCM_SENDER_ID</key>
	<string>224501809544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.develop.IphoneIpadFirebase</string>
	<key>PROJECT_ID</key>
	<string>fir-crud-af577</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-crud-af577.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:224501809544:ios:c217ee22b4a85d0f3a7a3d</string>
</dict>
</plist>